{% extends 'base.html' %}

{% block content %}
    {% if task.pk %}
        <h5>Edit Task</h5>
    {%  else %}
        <h5>New Task</h5>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.deadline.label_tag }}
            {{ form.deadline }}
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>


{% endblock content %}